button{
    padding:5px 10px   5px 10px;
    border-radius: 5px;
    background-color: brown;
    color: white;
}
h1{
color: rgb(99, 2, 22)
}
h3{
text-decoration: underline;
color: white;
}
.name{

}
.text{

}
.listmake{
    
}
.divschool{
    
}
.divclasses{


}
.subclass{

}